.navbar {
    background-color: var(--white);
    padding: 15px;
    margin-bottom: 2%;
}

.img {
    max-height: 40px;
}
/*
@media (max-width: 400px) {
    .navbar {
        grid-template:
            "About" 
            "Features" 
            "HowtoUse" 
            "Download"
            /1fr;
    }
}*/